:root.theme-dark {
  --page-cover: url(../images/cover-image-dark.png);
  --rec-icon-display: block;
  --page-background-color: #000028;
  --main-title-color: #db00ff;
  --accent-color: #ff0070;
  --section-text: #f1b2ce;
  --section-title-color: var(--accent-color);
  --section-title-accented-color: #000028;
  --header-accent-color: var(--accent-color);
  --header-menu-button-hover-color: rgba(255, 0, 112, 0.4);
}
