:root.theme-light {
  --page-cover: url(../images/cover-image-light.png);
  --rec-icon-display: none;
  --page-background-color: #fff1f7;
  --main-title-color: #ffc2e6;
  --accent-color: #ff8dcb;
  --section-text: #353430;
  --section-title-color: var(--section-text);
  --section-title-accented-color: var(--section-text);
  --header-accent-color: var(--section-text);
  --header-menu-button-hover-color: rgba(50, 49, 45, 0.4);
}

@media (prefers-color-scheme: light) {
  :root {
    --page-cover: url(../images/cover-image-light.png);
    --rec-icon-display: none;
    --page-background-color: #fff1f7;
    --main-title-color: #ffc2e6;
    --accent-color: #ff8dcb;
    --section-text: #353430;
    --section-title-color: var(--section-text);
    --section-title-accented-color: var(--section-text);
    --header-accent-color: var(--section-text);
    --header-menu-button-hover-color: rgba(50, 49, 45, 0.4);
  }
}
